<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="error" *ngIf="invalidCredentialError">
    Invalid credentials
  </div>
  <div class="login" style="margin-top:10%">
    <div class="login-form">
      <h3>Username:</h3>
      <input
        type="text"
        placeholder="Username"
        formControlName="username"
        required
      /><br />
      <h3>Password:</h3>
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
        required
      />
      <br />
      <input type="submit" value="Login" class="login-button" />
      <br />
    </div>
  </div>
</form>
